@model MyDigitalKey.Web.Models.ViewModels.LockViewModel
@{
    ViewData["Title"] = "Lock";

}
<div class="ui masthead vertical segment">
<div class="ui container">
    <h1 class="ui header">My locks</h1>

    <div class="ui middle aligned selection divided list">
        @foreach (string name in ViewBag.LocksName)
        {
            <div class="item">
                <i class="lock icon"></i>
                <div class="content">
                   @Html.ActionLink(name, "Details", "LockView", new { name }, new { @class="header" })
                </div>
            </div>
        }    
    </div>

<div class="ui raised segment">
        <form class="ui form">
        <h4 class="ui dividing header">New lock</h4>
        <div class="field">
             <input type="text" name="FirstName" placeholder="First Name">
        </div>
            <div class="field">
                <input type="text" name="KeyCode" placeholder="UID">
            </div>
            <button class="ui right labeled icon button">
            <i class="plus icon"></i>
            Add
            </button>
        </form>
    </div>
</div>
</div>