i.icon.left {
    float: left !important;
    margin: 0 0.5em 0 0 !important;
}

.masthead > .container {
    margin-left: 3em !important;
    margin-right: 3em !important;
}

.list > .item > .details {
    display: none;
    margin-left: 1.68em;
    margin-top: 1em;
    margin-bottom: 1em;
}