<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyDigitalKey</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="ui vertical inverted left visible sidebar menu">
        <div class="item">
            <img class="ui tiny image centered" src="/images/logo.png">
        </div>
        <a class="item" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="home icon left"></i>Home
        </a>
        <a class="item" asp-area="" asp-controller="UserView" asp-action="Index">
            <i class="user icon left"></i>Users
        </a>
        <a class="item" asp-area="" asp-controller="LockView" asp-action="Index">
            <i class="lock icon left"></i>Locks
        </a>
        <a class="item" asp-area="" asp-controller="AuthorizationView" asp-action="Index">
            <i class="key  icon left"></i>Authorization
        </a>
    </div>
    
    <div class="pusher">
        @RenderBody()
    </div>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
